{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include "recipe_manager/_header.html" %}
    {% include "recipe_manager/_tabs.html" %}
    {% include "recipe_manager/_tab_recipes.html" %}
    {% include "recipe_manager/_tab_create_recipe.html" %}
    {% include "recipe_manager/_tab_menu.html" %}
    {% include "recipe_manager/_tab_friends.html" %}
    {% include "recipe_manager/_tab_ingredients.html" %}
    {% include "recipe_manager/_modal_recipe.html" %}
    {% include "recipe_manager/_modal_friend.html" %}
    {% include "recipe_manager/_modal_friend_remove.html" %}
    {% include "recipe_manager/_modal_ingredient_edit.html" %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static 'js/state.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
    <script src="{% static 'js/friends.js' %}"></script>
    <script src="{% static 'js/telegram.js' %}"></script>
    <script src="{% static 'js/recipes.js' %}"></script>
    <script src="{% static 'js/ingredients.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/shopping.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
{% endblock %}
