<div id="friendRemoveModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="modalFriendRemoveTitle">Друг</h2>
            <button class="close-modal" onclick="closeFriendRemoveModal()">&times;</button>
        </div>
        <div id="modalFriendRemoveContent">
            <p class="form-help modal-help">Пользователь будет удалён из списка друзей. Вы сможете добавить его снова по коду.</p>
            <div class="modal-actions modal-actions--end">
                <button class="btn btn-danger" onclick="handleFriendRemove()">Удалить</button>
            </div>
        </div>
    </div>
</div>
